[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
tqdm = "*"
fire = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"

[scripts]
spark="spark-submit --num-executors 4 --master local[*] app/app.py --data_path=./ds/samples --params_path=./app/params.json"
spark-log="spark-submit --num-executors 4 --master local[*] app/app.py --data_path=./ds/ --params_path=./app/params.json --out_path=./output"
spark-bigData="spark-submit --num-executors 4 --master local[*] app/app.py --data_path=./ds/bigData --params_path=./app/params.json --out_path=./output"
clean="rm -r output"

[requires]
python_version = "3.10"
